.body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:16px;
    margin:0;
    padding:0;
    background: #FFFFFF;
}

.content{
    width:800px;
    height:600px;
    border: 1px solid saddlebrown;
    padding: 20px;
    margin-left: auto;
    margin-right:auto;
    background: #f0e68c;
}

.topSelect{
    width:700px;
    margin-bottom:20px;
    margin-left: auto;
    margin-right:auto;
}

.select {
    width: 600px;
    height:25px;
}

.leftFunction{
    /*border:1px solid green;*/
    position: relative;
    left:50px;
    width:110px;
    float: left;
    float: left;
}
.leftFunction input{
    width:100px;
}

.leftFunction button{
    width:90px;
    margin:5px;
}
.rightViewAll{
    margin-left:180px;
    width:570px;
    height:auto;
    /*border:1px solid green;*/
}
.rightViewAll h3{
    margin-left:225px;
    margin-right:auto;
}

/*对add界面进行样式调整*/
.rightViewAdd{
    margin-top:30px;
    margin-left:130px;
    width:570px;
    height:auto;
    /*border:1px solid green;*/
}
.rightViewAdd input{
    margin-bottom:10px;
}
.rightViewAdd button{
    margin-left:auto;
    margin-right:auto;
}

/*对change界面进行样式调整*/
.rightViewChange{
    margin-top:30px;
    margin-left:130px;
    width:570px;
    height:auto;
    /*border:1px solid green;*/
}
.rightViewChange input{
    margin-bottom:10px;
}
.rightViewChange button{
    margin-left:auto;
    margin-right:auto;
}

.infoTable{
    width:100%;
    height:100%;
    /*border:1px solid green;*/
}

